#Ramada_reservation .sfm_textbox
{
    padding:1px;
}
#Ramada_reservation .sfm_textarea
{
    padding:2px;
    resize:none;
}
#Ramada_reservation .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#Ramada_reservation img
{
    border:0;
}
#Ramada_reservation .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#Ramada_reservation input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#Ramada_reservation .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#Ramada_reservation .sfm_cr_box a
{
    color:#888888;
}
#Ramada_reservation .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#Ramada_reservation .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#Ramada_reservation .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#Ramada_reservation .sfm_form_label
{
    background-color:transparent;
}
#Ramada_reservation .element_label
{
    background-color:transparent;
}
body#sfm_Ramada_reservation_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#Ramada_reservation .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#Ramada_reservation .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Ramada_reservation .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#Ramada_reservation .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#Ramada_reservation .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#Ramada_reservation .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#Ramada_reservation .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#Ramada_reservation .page_number
{
    background-color:transparent;
}
#Ramada_reservation input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#Ramada_reservation textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#Ramada_reservation #tc5f7705414473fc5fa21
{
    width:5px;
    height:5px;
    display:none;
}
#Ramada_reservation #label_container
{
    z-index:1;
}
#Ramada_reservation #full_name_container
{
    z-index:2;
}
#Ramada_reservation #full_name
{
    float:left;
    z-index:2;
}
#Ramada_reservation #label1_container
{
    z-index:4;
}
#Ramada_reservation #Email_container
{
    z-index:3;
}
#Ramada_reservation #Email
{
    float:left;
    z-index:3;
}
#Ramada_reservation #label2_container
{
    z-index:6;
}
#Ramada_reservation #Phone_container
{
    z-index:5;
}
#Ramada_reservation #Phone
{
    float:left;
    z-index:5;
}
#Ramada_reservation #label3_container
{
    z-index:7;
}
#Ramada_reservation #Address_container
{
    z-index:8;
}
#Ramada_reservation #Address
{
    float:left;
    z-index:8;
}
#Ramada_reservation #label9_container
{
    z-index:20;
}
#Ramada_reservation #Nationality_container
{
    z-index:19;
}
#Ramada_reservation #Nationality
{
    float:left;
    z-index:19;
}
#Ramada_reservation #label10_container
{
    z-index:22;
}
#Ramada_reservation #company_name_container
{
    z-index:21;
}
#Ramada_reservation #company_name
{
    float:left;
    z-index:21;
}
#Ramada_reservation #Type_of_reservation_container
{
    z-index:9;
}
#Ramada_reservation #Type_of_reservation
{
    float:left;
    z-index:9;
}
#Ramada_reservation #label6_container
{
    z-index:15;
}
#Ramada_reservation #chick_in_date_container
{
    z-index:10;
}
#Ramada_reservation #chick_in_date
{
    float:left;
    z-index:10;
    margin:0px;
}
#Ramada_reservation #chick_in_date_image_container
{
    float:left;
    z-index:10;
    height:100%;
    position:relative;
}
#Ramada_reservation #label7_container
{
    z-index:17;
}
#Ramada_reservation #label8_container
{
    z-index:18;
}
#Ramada_reservation #chick_out_date_container
{
    z-index:11;
}
#Ramada_reservation #chick_out_date
{
    float:left;
    z-index:11;
    margin:0px;
}
#Ramada_reservation #chick_out_date_image_container
{
    float:left;
    z-index:11;
    height:100%;
    position:relative;
}
#Ramada_reservation #label5_container
{
    z-index:14;
}
#Ramada_reservation #no_of_rooms_container
{
    z-index:16;
}
#Ramada_reservation #no_of_rooms
{
    float:left;
    z-index:16;
    text-align:right;
}
#Ramada_reservation #label4_container
{
    z-index:13;
}
#Ramada_reservation #no_of_person_container
{
    z-index:12;
}
#Ramada_reservation #no_of_person
{
    float:left;
    z-index:12;
}
#Ramada_reservation #label11_container
{
    z-index:24;
}
#Ramada_reservation #no_of_childerns_container
{
    z-index:23;
}
#Ramada_reservation #no_of_childerns
{
    float:left;
    z-index:23;
    text-align:right;
}
#Ramada_reservation #Pickup_from_airport_container
{
    z-index:25;
}
#Ramada_reservation #label12_container
{
    z-index:26;
}
#Ramada_reservation #Captcha_container
{
    z-index:27;
}
#Ramada_reservation #Submit_container
{
    z-index:28;
}
#Ramada_reservation #Ramada_reservation_Submit_img
{
    width:84px;
    height:29px;
    border:none;
}

#Ramada_reservation #Ramada_reservation_outer_div_p1
{
    width:436px;
    height:730px;
}
#Ramada_reservation #label_container
{
    position:absolute;
    left:4px;
    top:5px;
}
#Ramada_reservation #label_container
{
    width:60px;
    height:20px;
}
#Ramada_reservation #label
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #full_name_container
{
    position:absolute;
    left:133px;
    top:4px;
}
#Ramada_reservation #full_name
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label1_container
{
    position:absolute;
    left:6px;
    top:34px;
}
#Ramada_reservation #label1_container
{
    width:60px;
    height:20px;
}
#Ramada_reservation #label1
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #Email_container
{
    position:absolute;
    left:133px;
    top:34px;
}
#Ramada_reservation #Email
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label2_container
{
    position:absolute;
    left:4px;
    top:66px;
}
#Ramada_reservation #label2_container
{
    width:87px;
    height:20px;
}
#Ramada_reservation #label2
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #Phone_container
{
    position:absolute;
    left:132px;
    top:66px;
}
#Ramada_reservation #Phone
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label3_container
{
    position:absolute;
    left:8px;
    top:97px;
}
#Ramada_reservation #label3_container
{
    width:60px;
    height:20px;
}
#Ramada_reservation #label3
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #Address_container
{
    position:absolute;
    left:132px;
    top:97px;
}
#Ramada_reservation #Address
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label9_container
{
    position:absolute;
    left:8px;
    top:130px;
}
#Ramada_reservation #label9_container
{
    width:60px;
    height:20px;
}
#Ramada_reservation #label9
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #Nationality_container
{
    position:absolute;
    left:132px;
    top:130px;
}
#Ramada_reservation #Nationality
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label10_container
{
    position:absolute;
    left:7px;
    top:168px;
}
#Ramada_reservation #label10_container
{
    width:93px;
    height:20px;
}
#Ramada_reservation #label10
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #company_name_container
{
    position:absolute;
    left:133px;
    top:168px;
}
#Ramada_reservation #company_name
{
    width:114px;
    height:19px;
}
#Ramada_reservation #Type_of_reservation_container
{
    position:absolute;
    left:134px;
    top:198px;
}
#Ramada_reservation #Type_of_reservation
{
    width:120px;
    height:22px;
}
#Ramada_reservation #label6_container
{
    position:absolute;
    left:0px;
    top:201px;
}
#Ramada_reservation #label6_container
{
    width:112px;
    height:20px;
}
#Ramada_reservation #label6
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#Ramada_reservation #chick_in_date_container
{
    position:absolute;
    left:134px;
    top:233px;
    width:124px;
    height:25px;
}
#Ramada_reservation #chick_in_date
{
    width:91px;
    height:19px;
}
#Ramada_reservation #chick_in_date_image_container
{
    width:16px;
}
#Ramada_reservation #chick_in_date_image
{
    position:absolute;
    top:50%;
    margin-top:-9px;
    margin-left:1px;
}
#Ramada_reservation #label7_container
{
    position:absolute;
    left:10px;
    top:239px;
}
#Ramada_reservation #label7_container
{
    width:81px;
    height:20px;
}
#Ramada_reservation #label7
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #label8_container
{
    position:absolute;
    left:11px;
    top:274px;
}
#Ramada_reservation #label8_container
{
    width:93px;
    height:20px;
}
#Ramada_reservation #label8
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #chick_out_date_container
{
    position:absolute;
    left:134px;
    top:271px;
    width:125px;
    height:25px;
}
#Ramada_reservation #chick_out_date
{
    width:92px;
    height:19px;
}
#Ramada_reservation #chick_out_date_image_container
{
    width:16px;
}
#Ramada_reservation #chick_out_date_image
{
    position:absolute;
    top:50%;
    margin-top:-9px;
    margin-left:1px;
}
#Ramada_reservation #label5_container
{
    position:absolute;
    left:13px;
    top:307px;
}
#Ramada_reservation #label5_container
{
    width:76px;
    height:20px;
}
#Ramada_reservation #label5
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #no_of_rooms_container
{
    position:absolute;
    left:135px;
    top:307px;
}
#Ramada_reservation #no_of_rooms
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label4_container
{
    position:absolute;
    left:13px;
    top:344px;
}
#Ramada_reservation #label4_container
{
    width:78px;
    height:20px;
}
#Ramada_reservation #label4
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #no_of_person_container
{
    position:absolute;
    left:136px;
    top:342px;
}
#Ramada_reservation #no_of_person
{
    width:114px;
    height:19px;
}
#Ramada_reservation #label11_container
{
    position:absolute;
    left:15px;
    top:381px;
}
#Ramada_reservation #label11_container
{
    width:87px;
    height:20px;
}
#Ramada_reservation #label11
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #no_of_childerns_container
{
    position:absolute;
    left:137px;
    top:379px;
}
#Ramada_reservation #no_of_childerns
{
    width:114px;
    height:19px;
}
#Ramada_reservation #Pickup_from_airport_container
{
    position:absolute;
    left:203px;
    top:429px;
    width:39px;
    height:14px;
}
#Ramada_reservation #label12_container
{
    position:absolute;
    left:35px;
    top:424px;
}
#Ramada_reservation #label12_container
{
    width:152px;
    height:20px;
}
#Ramada_reservation #label12
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#Ramada_reservation #Captcha_container
{
    position:absolute;
    left:78px;
    top:484px;
    width:245px;
    height:130px;
}
#Ramada_reservation #Submit_container
{
    position:absolute;
    left:133px;
    top:690px;
    width:80px;
    height:25px;
}
